<div class="relative w-[75vw] overflow-y-scroll h-[85vh]">
    <div class="fixed flex justify-end mb-2 mr-6 ">
        <input type="search" [(ngModel)]="filter" placeholder="Search employee by email" class="p-2 w-[250px] rounded-2xl">
    </div>
    <table class="w-[73vw] bg-white border border-gray-300 mt-[40px]">
        <thead>
          <tr class="text-left">
            <th class="py-2 px-4 border-b">No.</th>
            <th class="py-2 px-4 border-b">Name</th>
            <th class="py-2 px-4 border-b">Email</th>
            <th class="py-2 px-4 border-b">Phone Number</th>
            <th class="py-2 px-4 border-b">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of filteredEmployees | search: filter;  let i = index; ">
            <td class="py-2 px-4 border-b">{{i + 1}}</td>
            <td class="py-2 px-4 border-b">{{employee.name}}</td>
            <td class="py-2 px-4 border-b">{{employee.email}}</td>
            <td class="py-2 px-4 border-b">{{employee.phone_no}}</td>
            <td class="py-2 px-4 border-b">
                <div class="flex gap-4 items-center">
                    <div>
                        <i (click)="changeEmployeeStatus(employee.employee_id, !employee.isDeleted)" class="p-[10px] rounded-full fa-solid fa-trash cursor-pointer hover:bg-red-200" style="color:red"></i>
                    </div>
                    <div>
                        <i class="p-[10px] rounded-full fa-solid fa-eye cursor-pointer hover:bg-green-200" style="color:black"></i>
                    </div>
                    <div>
                        <i class="p-[10px] rounded-full fa-solid fa-pen-to-square cursor-pointer hover:bg-green-200 " style="color:green"></i>
                    </div>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>
