<app-navbar></app-navbar>

<!-- <img [src]="link" alt=""> -->

<div class="w-[100vw] flex justify-center">
    <form id="login-form" class=" w-[40vw] bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h1 class="w-[40vw] text-center font-bold text-[20px] mb-8" >{{title}}</h1>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
          Email address
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="login-email" type="text" placeholder="Username">
        <span id="email-error" class="text-[12px] text-red-500"></span>
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="login-password" type="password" placeholder="******************">
        <span id="password-error" class="text-[12px] text-red-500"></span>
      </div>
      <div class="flex items-center justify-between">
        <button (click)="onClick()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
          Sign In
        </button>
        <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="#">
          Forgot Password?
        </a>
      </div>
    </form>
</div>