<app-navbar></app-navbar>

<div class="main flex max-w-[100vw]  bg-blue-200 h-[93.7vh]">
    <div @backIn class="sidebar w-[10vw] h-[90vh] flex flex-col justify-center ml-[0.5vw]">
        <div class="logo flex justify-center font-bold text-[40px]">
            EMS
        </div>

        <div class="flex flex-col gap-2" >
            <!-- <button class="bg-blue-500 p-2 rounded text-white mb-2">{{option.value | sentenceCase}}</button> -->
            <button class="bg-blue-500 p-2 rounded text-white">{{sidebar[0].value}}</button>
            <button class="bg-blue-500 p-2 rounded text-white">{{sidebar[1].value}}</button>
            <button class="bg-blue-500 p-2 rounded text-white">{{sidebar[2].value}}</button>
            <button class="bg-blue-500 p-2 rounded text-white">{{sidebar[3].value}}</button>
            <button class="bg-blue-500 p-2 rounded text-white">{{sidebar[4].value}}</button>
        </div>
        <button (click)="fetchEmployees()">Users</button>
    </div>

    <div class="ml-[0.5vw] my-[20px]  p-[25px] w-[88vw] bg-white rounded-2xl">
        <div class="flex justify-between">
            <div> 
                <h1><b>Attendance</b> &nbsp; Month - November</h1>
            </div>
            <div class="flex gap-4">
                <div>
                    <label for="">Year</label> &nbsp;
                    <select name="" id="" class="py-[5px] px-4 bg-gray-100 rounded-2xl">
                        <option value="">2023</option>
                        <option value="">2022</option>
                        <option value="">2021</option>
                    </select>
                </div>
                
                <div>
                    <label for="">Month</label> &nbsp;
                    <select name="" id="" class="py-[5px] px-4 bg-gray-100 rounded-2xl">
                        <option value="">November</option>
                        <option value="">October</option>
                        <option value="">September</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="cards flex justify-between gap-2 h-84vh mt-2">
            <div class=" w-[68vw] p-2">
                <div class="flex gap-2">
                        <!-- PROJECTS COUNT -->
                    <div class="shadow-2xl rounded-2xl w-[18%] card p-8 bg-white flex flex-col justify-center items-center ">
                        <h1 class="mb-2 font-bold">PROJECTS</h1>
                        <h1 class="rounded-full py-[10px] px-[20px] bg-blue-500 text-white">{{projects.length}}</h1>
                    </div>
                    <!-- USERS COUNT -->
                    <div class="shadow-2xl rounded-2xl w-[18%] card p-8 bg-white flex flex-col justify-center items-center ">
                        <h1 class="mb-2 font-bold">Employees</h1>
                        <h1 class="rounded-full py-[10px] px-[20px] bg-blue-500 text-white">{{employees.length}}</h1>
                    </div>
                </div>

                <div>
                    <h1 class="mt-4">Projects</h1>
                        
                    <div>
                        <div class="w-[68vw] flex gap-2 flex-wrap">
                            <div class="card w-[16vw] bg-blue-100 p-2 rounded-xl" *ngFor="let project of projects">
                                <div class="flex justify-between items-center">
                                    <div class="font-bold">{{project.project_name}}</div> 
                                    <div class="p-[10px] rounded-full cursor-pointer hover:bg-red-200 " (click)="deleteProject(project.project_id)"><img src="assets/icons/trash-fill.svg" alt=""></div>
                                </div>
                                <h1>{{project.project_description}}</h1>
                                <p>{{project.project_deadline}}</p>
                                <p class="text-left text-red-500">Status: {{project.status | titlecase}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Employees -->
            <div class="relative cards flex justify-center items-start gap-2 flex-wrap w-[320px] h-[81vh] bg-blue-200 overflow-y-auto">
                <div class=" sticky top-0">
                    <input type="search" [(ngModel)]="filter" placeholder="Search employees" class="mt-2 w-[250px] p-2 border-solid border-gray-200 border-[1px] rounded-xl">
                </div>
                <div @fadeIn class="max-h-[100px] mt-2 card w-[250px] bg-gray-100 p-[15px] flex flex-col items-center rounded-2xl hover:bg-blue-300 " *ngFor="let employee of employees | search: filter; let i = index">
                    <!-- <img src="{{employee.image}}" alt="" width="50px" >-->
                    <p class="text-blue-500 font-bold ">{{employee.name}}</p> 
                    <!-- <p>{{employee.role | sentenceCase}}</p> -->
                    <button (click)="getEmployee(i)" class="border-solid border-blue-500 border-[2px] py-[2px] px-4 rounded-2xl text-blue-500 mt-[5px] hover:cursor-pointer" >Profile Details</button>
                </div>
            </div>
        </div>
    </div>
</div>

